In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

display(pd.read_csv("C:\\Users\\Nathan\\Desktop\\COGS189 Project\\Test\\Data1.csv"))
df = pd.read_csv("C:\\Users\\Nathan\\Desktop\\COGS189 Project\\Test\\Data1.csv")
header1 = df["sensor position"].unique()
header1 = np.append(header1, ["Alcoholic(a)/Control(c)"])
df_clean1 = pd.DataFrame(columns = header1)
for file in range(10):
    df = pd.read_csv("C:\\Users\\Nathan\\Desktop\\COGS189 Project\\Test\\Data"+ str(file + 1) +".csv")
    
    header_temp = df["sensor position"].unique()
    header_temp = np.append(header_temp, ["Alcoholic(a)/Control(c)"])
    df_temp = pd.DataFrame(columns = header1)
    
    sensor_pos = df['sensor position'].unique()
    for sensor_name in sensor_pos:
        values = df.loc[df['sensor position'] == sensor_name]['sensor value'].to_numpy()
        df_temp[sensor_name] = values
    df_temp["Alcoholic(a)/Control(c)"] = df['subject identifier'].iloc[0] 
    df_clean1 = pd.concat([df_clean1, df_temp], ignore_index = True)
    
    df = pd.read_csv("C:\\Users\\Nathan\\Desktop\\COGS189 Project\\Test\\Data"+ str(file + 241) +".csv")
    
    header_temp = df["sensor position"].unique()
    header_temp = np.append(header_temp, ["Alcoholic(a)/Control(c)"])
    df_temp = pd.DataFrame(columns = header1)
    
    sensor_pos = df['sensor position'].unique()
    for sensor_name in sensor_pos:
        values = df.loc[df['sensor position'] == sensor_name]['sensor value'].to_numpy()
        df_temp[sensor_name] = values
    df_temp["Alcoholic(a)/Control(c)"] = df['subject identifier'].iloc[0] 
    df_clean1 = pd.concat([df_clean1, df_temp], ignore_index = True)
    

display(df_clean1)

,Unnamed: 0,trial number,sensor position,sample num,sensor value,subject identifier,matching condition,channel,name,time
0,5,30,FP1,0,-3.550,a,S1 obj,0,co2a0000364,0.000000
1,6,30,FP1,1,-5.015,a,S1 obj,0,co2a0000364,0.003906
2,7,30,FP1,2,-5.503,a,S1 obj,0,co2a0000364,0.007812
3,8,30,FP1,3,-3.550,a,S1 obj,0,co2a0000364,0.011719
4,9,30,FP1,4,-0.621,a,S1 obj,0,co2a0000364,0.015625
...,...,...,...,...,...,...,...,...,...,...
16379,16447,30,Y,251,1.007,a,S1 obj,63,co2a0000364,0.980469
16380,16448,30,Y,252,3.937,a,S1 obj,63,co2a0000364,0.984375
16381,16449,30,Y,253,3.937,a,S1 obj,63,co2a0000364,0.988281
16382,16450,30,Y,254,2.472,a,S1 obj,63,co2a0000364,0.992188
16383,16451,30,Y,255,1.495,a,S1 obj,63,co2a0000364,0.996094

,FP1,FP2,F7,F8,AF1,AF2,FZ,F4,F3,FC6,...,PO8,FCZ,POZ,OZ,P2,P1,CPZ,nd,Y,Alcoholic(a)/Control(c)
0,-3.55,-4.476,-1.017,-0.661,-6.083,-7.64,-4.313,-1.2,-7.507,-2.319,...,-7.09,-3.011,-0.6,-2.625,0.824,2.604,1.79,-3.56,-5.341,a
1,-5.015,-3.499,-3.947,5.198,-4.618,-9.593,-2.848,1.241,-5.066,-0.366,...,1.211,-2.523,-0.112,-2.625,1.312,2.116,1.302,-4.537,-5.341,a
2,-5.503,-1.058,-5.9,10.569,-2.177,-7.151,-0.407,2.706,-0.671,1.587,...,4.14,-1.058,-0.6,-2.625,0.824,0.651,0.326,-5.025,-4.364,a
3,-3.55,1.383,-4.924,13.987,1.241,0.173,1.058,3.682,1.77,3.052,...,12.441,0.407,-1.577,-3.113,0.336,-2.279,-0.651,-3.56,-3.876,a
4,-0.621,3.337,-2.97,13.499,2.706,8.962,1.546,3.682,1.282,3.54,...,-1.231,0.407,-2.553,-3.113,-0.153,-3.743,-1.139,-0.631,-3.876,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5115,-3.001,-1.74,-3.469,1.862,-5.32,-0.275,-2.818,0.946,-6.297,4.283,...,-17.731,-2.869,-7.192,-11.658,-9.196,-5.473,-0.651,-2.625,-20.508,c
5116,-1.536,-1.251,-1.516,5.28,-3.367,-0.275,-1.841,0.946,-2.879,4.771,...,-25.543,-2.869,-6.215,-11.658,-8.708,-4.985,-0.163,-1.648,-18.555,c
5117,-2.024,-2.716,-4.445,2.838,-2.391,-1.251,-1.841,-0.031,-0.437,3.794,...,-30.426,-2.38,-5.727,-12.146,-7.731,-4.985,-0.651,-2.136,-18.066,c
5118,-5.442,-6.134,-8.84,-3.998,-3.855,-3.204,-2.33,-1.007,-0.437,0.865,...,-30.426,-1.404,-6.704,-14.099,-7.731,-6.449,-0.651,-5.066,-19.531,c
5119,-9.837,-9.552,-12.258,-11.81,-6.785,-6.134,-3.306,-2.96,-4.832,-2.553,...,-17.242,-1.404,-8.657,-17.029,-7.731,-8.403,-1.139,-9.46,-21.973,c

In [3]:


header = []

for num in range(256):
    header.append('T'+str(num))
header.append('SensorPos')
header.append('Alcoholic/Control')
df_clean = pd.DataFrame(columns = header)

for file in range(10):
    df = pd.read_csv("C:\\Users\\Nathan\\Desktop\\COGS189 Project\\Test\\Data"+ str(file + 1) +".csv")
    sensor_pos = df['sensor position'].unique()
    sensor_num = 0
    for sensor_name in sensor_pos:
        sensor_num = sensor_num + 1
        values = df.loc[df['sensor position'] == sensor_name]['sensor value'].to_numpy()
        values = np.append(values, [sensor_num, df.iloc[0]['subject identifier']])
        df_clean.loc[len(df_clean.index)] = values
    
    df = pd.read_csv("C:\\Users\\Nathan\\Desktop\\COGS189 Project\\Test\\Data"+ str(file + 241) +".csv")
    sensor_pos = df['sensor position'].unique()
    sensor_num = 0
    for sensor_name in sensor_pos:
        sensor_num = sensor_num + 1
        values = df.loc[df['sensor position'] == sensor_name]['sensor value'].to_numpy()
        values = np.append(values, [sensor_num, df.iloc[0]['subject identifier']])
        df_clean.loc[len(df_clean.index)] = values
    
display(df_clean)

,T0,T1,T2,T3,T4,T5,T6,T7,T8,T9,...,T248,T249,T250,T251,T252,T253,T254,T255,SensorPos,Alcoholic/Control
0,-3.55,-5.015,-5.503,-3.55,-0.621,1.821,2.309,0.844,0.844,3.286,...,3.774,4.751,6.215,6.215,4.751,1.333,-1.109,0.356,1,a
1,-4.476,-3.499,-1.058,1.383,3.337,2.848,2.36,2.848,4.801,7.731,...,-2.523,-4.476,-0.57,5.778,10.173,9.684,5.778,2.36,2,a
2,-1.017,-3.947,-5.9,-4.924,-2.97,-1.994,-1.994,-2.97,-1.017,4.354,...,-0.529,-1.994,-0.529,1.424,0.936,-2.97,-5.9,-6.388,3,a
3,-0.661,5.198,10.569,13.987,13.499,9.593,4.222,1.292,1.78,5.198,...,-2.614,-7.985,-7.985,-3.591,1.78,3.733,2.268,0.315,4,a
4,-6.083,-4.618,-2.177,1.241,2.706,2.706,1.729,1.241,2.218,4.659,...,-0.712,0.264,1.241,1.729,0.264,-1.689,-2.177,-0.224,5,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,6.917,10.824,13.265,14.242,14.242,14.242,14.73,15.218,15.218,14.242,...,-9.196,-9.684,-9.684,-9.196,-8.708,-7.731,-7.731,-7.731,60,c
1276,0.387,6.246,11.129,14.058,15.035,16.012,16.5,16.988,16.988,16.5,...,-5.473,-6.449,-5.961,-5.473,-4.985,-4.985,-6.449,-8.403,61,c
1277,1.302,2.767,3.743,3.743,3.743,3.255,3.743,4.232,4.72,4.72,...,-0.651,-0.651,-0.651,-0.651,-0.163,-0.651,-0.651,-1.139,62,c
1278,0.793,2.258,-0.183,-4.089,-7.996,-8.972,-8.484,-7.996,-8.972,-11.414,...,-8.484,-7.507,-5.066,-2.625,-1.648,-2.136,-5.066,-9.46,63,c
1279,-3.418,-3.418,-5.859,-8.789,-10.742,-10.742,-10.254,-10.254,-12.207,-14.16,...,-18.066,-20.996,-21.484,-20.508,-18.555,-18.066,-19.531,-21.973,64,c

In [4]:
df_clean['Alcoholic/Control'].value_counts()

a    640
c    640
Name: Alcoholic/Control, dtype: int64

In [5]:
df_shuffle = df_clean.sample(frac=1).reset_index(drop=True)
display(df_shuffle)

,T0,T1,T2,T3,T4,T5,T6,T7,T8,T9,...,T248,T249,T250,T251,T252,T253,T254,T255,SensorPos,Alcoholic/Control
0,-0.417,0.559,1.048,0.559,-1.394,-3.835,-6.276,-6.765,-5.788,-3.347,...,-8.718,-8.23,-6.765,-3.835,0.071,3.001,5.442,4.954,33,c
1,-2.543,-0.102,1.851,2.34,3.316,3.805,3.805,3.805,2.828,2.34,...,-25.004,-24.028,-21.098,-16.703,-12.797,-9.379,-6.449,-4.496,60,c
2,-1.597,8.657,6.215,-11.363,-3.062,1.333,-13.316,8.169,10.61,9.145,...,-2.574,-9.41,-8.433,-6.968,-10.386,-63.609,-28.453,11.587,55,a
3,-5.157,-2.716,-0.763,1.19,2.167,3.143,3.632,4.608,5.585,5.585,...,-21.759,-19.806,-16.388,-11.993,-7.111,-2.228,3.143,7.538,28,c
4,0.203,-0.773,-1.261,-2.238,-2.238,-2.238,-1.75,-1.261,-0.773,-0.773,...,3.621,3.621,3.133,2.645,2.157,2.157,2.157,2.645,57,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,-8.942,-3.082,0.336,0.824,-0.153,-0.153,-0.153,-1.129,-4.547,-7.965,...,7.172,6.195,3.265,0.336,-1.129,-1.617,-1.129,-1.617,20,c
1276,0.702,-9.064,-9.552,-15.9,-11.993,-10.04,-7.111,-1.74,-6.622,-0.763,...,-14.435,-13.458,-25.177,-2.228,-9.064,-2.716,-4.181,-8.087,55,c
1277,0.163,0.163,0.163,0.651,0.651,1.139,3.092,4.069,6.022,6.022,...,-4.232,-5.697,-6.185,-5.697,-4.72,-4.232,-5.208,-7.161,29,a
1278,-6.307,-4.842,-1.912,0.041,0.041,-1.424,-3.866,-5.819,-5.819,-3.377,...,8.83,8.341,7.853,8.83,9.318,9.806,7.853,3.947,51,c
1279,1.485,1.973,-3.398,-3.398,-5.351,0.02,0.509,-1.444,-0.956,0.997,...,2.462,-2.909,-3.886,-3.398,-1.444,0.02,2.95,-1.933,53,c

In [7]:

X = df_shuffle.drop('Alcoholic/Control', axis=1)
display(X)

#Target
y = df_shuffle['Alcoholic/Control']
display(y)

,T0,T1,T2,T3,T4,T5,T6,T7,T8,T9,...,T247,T248,T249,T250,T251,T252,T253,T254,T255,SensorPos
0,-0.417,0.559,1.048,0.559,-1.394,-3.835,-6.276,-6.765,-5.788,-3.347,...,-9.206,-8.718,-8.23,-6.765,-3.835,0.071,3.001,5.442,4.954,33
1,-2.543,-0.102,1.851,2.34,3.316,3.805,3.805,3.805,2.828,2.34,...,-24.516,-25.004,-24.028,-21.098,-16.703,-12.797,-9.379,-6.449,-4.496,60
2,-1.597,8.657,6.215,-11.363,-3.062,1.333,-13.316,8.169,10.61,9.145,...,-13.316,-2.574,-9.41,-8.433,-6.968,-10.386,-63.609,-28.453,11.587,55
3,-5.157,-2.716,-0.763,1.19,2.167,3.143,3.632,4.608,5.585,5.585,...,-21.271,-21.759,-19.806,-16.388,-11.993,-7.111,-2.228,3.143,7.538,28
4,0.203,-0.773,-1.261,-2.238,-2.238,-2.238,-1.75,-1.261,-0.773,-0.773,...,4.11,3.621,3.621,3.133,2.645,2.157,2.157,2.157,2.645,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,-8.942,-3.082,0.336,0.824,-0.153,-0.153,-0.153,-1.129,-4.547,-7.965,...,7.172,7.172,6.195,3.265,0.336,-1.129,-1.617,-1.129,-1.617,20
1276,0.702,-9.064,-9.552,-15.9,-11.993,-10.04,-7.111,-1.74,-6.622,-0.763,...,-14.923,-14.435,-13.458,-25.177,-2.228,-9.064,-2.716,-4.181,-8.087,55
1277,0.163,0.163,0.163,0.651,0.651,1.139,3.092,4.069,6.022,6.022,...,-2.767,-4.232,-5.697,-6.185,-5.697,-4.72,-4.232,-5.208,-7.161,29
1278,-6.307,-4.842,-1.912,0.041,0.041,-1.424,-3.866,-5.819,-5.819,-3.377,...,7.853,8.83,8.341,7.853,8.83,9.318,9.806,7.853,3.947,51
1279,1.485,1.973,-3.398,-3.398,-5.351,0.02,0.509,-1.444,-0.956,0.997,...,0.997,2.462,-2.909,-3.886,-3.398,-1.444,0.02,2.95,-1.933,53

0       c
1       c
2       a
3       c
4       a
       ..
1275    c
1276    c
1277    a
1278    c
1279    c
Name: Alcoholic/Control, Length: 1280, dtype: object

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

rf_model = RandomForestClassifier(n_estimators = 1000)
rf_model.fit
rf_model.fit(X_train, y_train)
target_pred = rf_model.predict(X_test)
print("accuracy", metrics.accuracy_score(y_test, target_pred))

accuracy 0.921875